.certificates {
    margin-bottom: 15vw;
    @media (min-width: 992px) {
        margin-bottom: 150px;
    }

    &__slider {
        overflow-x: auto;
        display: flex;
        &::-webkit-scrollbar {
            height: 0;
        }
    }

    &__item {
        width: 70%;
        flex: 0 0 auto;
        @media (min-width: 768px) {
            flex: 1 1 auto;
        }
        & img {
            width: 100%;
            border-radius: 10px;
        }
        & > div {
            margin: 0 3%;
        }
    }
}
