body {
    font-family: Manrope, serif;
    font-size: 14px;
    line-height: 1.25;
    color: $color-dark;
    background: $color-light;
}
main {
    overflow-x: hidden;
}

section,
footer {
    scroll-margin-top: 65px;

    @media (min-width: 576px) {
        scroll-margin-top: 90px;
    }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    line-height: 1.25;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    &:hover {
        color: inherit;
    }
}
p {
    margin: 0;
}
button {
    border: none;
    background: none;
    padding: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
    display: none;
}
input {
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.text-main {
    color: $color-other;
}
.color-main {
    background: $color-other;
}
.text-other {
    color: $color-other;
}
.color-other {
    background: $color-other;
}
