$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Manrope-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Manrope-Bold.ttf") format("truetype");
    font-display: swap;
}
