.main-modal {
    font-size: 0.2vw;
    &__phone {
        font-size: calc((100vw - 92px) * 0.08);
        &:hover {
            color: $color-other;
        }
    }

    &__close {
        font-size: 16px;
    }

    &__btn {
        margin: 0 5%;
    }

    @media (min-width: 576px) {
        font-size: 1px;
        &__phone {
            font-size: 24px;
        }
    }
}
