// button

.custom-btn {
    border-radius: 0.9375em;
    font-weight: 700;
    font-size: 16em;
    color: #fff;
    text-align: center;
    display: block;
    &:hover {
        transform: scale(1.1);
    }
}

// main

.main-btn {
    background: $color-main;
    padding: 0.9375em 1.6875em;
    &:hover {
        box-shadow: inset 0 0 6em #ffffff50;
    }
}

// secondary

.secondary-btn {
    border: 0.0625em solid $color-other;
    padding: 0.875em 1.6875em;
    &:hover {
        background: $color-other;
    }
}

// secondary

.shadow-btn {
    box-shadow: 0 0.625em 1.25em $color-shadow;
}

// shine

.shiny-btn {
    position: relative;
    overflow: hidden;
}
.shiny-btn:after {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff66;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    transform: skewX(-50deg) translateX(-110%);
    filter: blur(2px);
    transform-origin: top right;
    animation: shine 5s infinite linear;
    animation-delay: 2s;
}

@keyframes shine {
    0% {
        transform: skewX(-50deg) translateX(-130%);
    }
    20% {
        transform-origin: left bottom;
        transform: skewX(-50deg) translateX(1310%);
    }
    100% {
        transform-origin: left bottom;
        transform: skewX(-50deg) translateX(1310%);
    }
}

// pulse

.pulse-btn {
    animation: pulse 1.5s infinite ease-in-out;
    &:hover {
        animation-name: unset;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

// button

.custom-input {
    border-radius: 0.9375em;
    font-size: 16em;
    border: 0.0625em solid $color-main;
    background: none;
    padding: 0.9375em 1.5625em;
    min-width: 0;

    &::placeholder {
        color: #c4c4c4;
    }
}

.custom-input-radio,
.custom-input-checkbox {
    & input:checked ~ span {
        color: $color-light;
        box-shadow: 0 0.55em 1.1em #141a5012;
    }

    & span {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        transition: 0.3s ease-out;
        transition-property: color, background;
        border-radius: 10px;
        border: solid 1px $color-other;
        color: $color-other;
        text-align: center;
        font-weight: 600;
        font-size: 18em;
        padding: 0.625em 0.5em;
        box-shadow: 0 0.55em 1.1em #141a5009;
        &:hover {
            background: #f5ece3;
        }
    }
}

.input-main {
    & input:checked ~ span {
        background: $color-main;
        border-color: $color-main;
    }
}

.input-outer {
    & input:checked ~ span {
        background: $color-other;
    }
}

.custom-input-radio input:checked ~ span {
    cursor: auto;
}
