// title

.custom-title {
    text-align: center;
    font-weight: 700;
    max-width: 933px;
    margin: 0 auto 1em;
    font-size: calc((100vw - 24px) * 0.06);
    @media (min-width: 576px) {
        font-size: 33.12px;
    }
    @media (min-width: 768px) {
        font-size: 48px;
    }
    &::before {
        content: attr(title);
        display: block;
        font-weight: 400;
        font-size: 12px;
        @media (min-width: 576px) {
            font-size: 14px;
        }
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}

// main

.main-title {
    &::before {
        color: $color-other;
    }
}

// secondary

.secondary-title {
    color: $color-light;
}
