.warranty {
    background: url("/assets/images/warranty/warranty-background.jpg") 50% / cover no-repeat;
    font-size: 0.2vw;
    padding: 52em 0 68em;
    margin-bottom: 50em;

    @media (min-width: 576px) {
        font-size: 1px;
        margin-bottom: 100em;
    }

    &__content {
        color: $color-light;
        max-width: 967px;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        align-items: center;
        max-width: 350px;
        margin-bottom: 38px;
    }

    &__ico {
        margin-right: 14px;
        width: 20px;
        min-width: 20px;

        @media (min-width: 576px) {
            margin-right: 17px;
            width: 43px;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        font-size: 14px;
        @media (min-width: 576px) {
            font-weight: 700;
            font-size: 18px;
        }
    }
}
